/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
.ag-theme-alpine {
    /* use theme parameters where possible */
    --ag-foreground-color: black;
   
}
.ag-theme-alpine {
    @include ag-theme-alpine((
        foreground-color: var(--appMainTextColor)
    ));
}
.ag-theme-alpine .ag-header-cell-label {
    font-style: italic;
}
.ag-theme-alpine .ag.header-cell-lable{
    --ag-foreground-color-:red;
   
}